{% extends 'base.html' %}
{% set active_page = 'admin' %}

{% block content %}

    <h3>{{ title }}</h3>

    <form method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-6 mb-2">
                {{ form.username.label }}
                {{ form.username(size = 32, class = "form-control") }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form.password.label }}
                {{ form.password(size = 32, class = "form-control") }}
            </div>
            <div class="col-md-12 mb-2">
                {{ form.submit(class = "btn btn-primary float-right") }}
            </div>
        </div>
    </form>
{% endblock %}